/*registration & inpunts*/
.control-group.reg-log
{
    text-align: center;
}

.value-input
{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ccc;
    margin: 15px;
    width: 300px;
    line-height: 3;
    outline: 0px !important;
    -webkit-appearance:none;
}

.value-input:focus
{
    border-bottom: 1px solid #106CC8;
}

.input-icons
{
    position: relative;
    top: 20px;
    font-size: 35px;
    color: #106CC8;
}

.header-div
{
    text-align: center;
    color: #106CC8;
}

.header-div.registrated h2
{
    padding-top: 90px;
    font-size: 60px;
}

#register-button
{
    background-color: #106CC8;
    color: #fff;
    background-image: none;
    opacity: .8;
    width: 150px;
    border-radius: 0px;
    border: none;
    margin-top: 35px;
    font-size: 16px;
    height: 40px;
}

#register-button:hover
{
    background-color: #106CC8;
    opacity: .9;
}

#register-button:active
{
    background-color: #106CC8;
    opacity: 1;
}

.form-tip
{
    text-align: center;
    color: #999999;
    font-size: 10px;
}

.reg-log-header
{
    text-align: center;
    color: #106CC8;
}
/*End of registration & inputs*/