textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

.control-group
{
    text-align: center;
}

.value-input
{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ccc;
    margin: 15px;
    width: 300px;
    line-height: 3;
}

.value-input:focus
{
    border-bottom: 1px solid #106CC8;
}

.input-icons
{
    position: relative;
    top: 20px;
    font-size: 35px;
    color: #106CC8;
}

.header-div
{
    text-align: center;
    color: #106CC8;
}

.header-div.registrated h2
{
    padding-top: 90px;
    font-size: 60px;
}

.register-button
{
    background-color: #106CC8 !important;
    color: #fff !important;
    background-image: none !important;
    opacity: .8;
    width: 150px;
    border-radius: 0px !important;
    border: none !important;
    margin-top: 35px;
    font-size: 16px !important;
    height: 40px;
}

.register-button:hover
{
    background-color: #106CC8 !important;
    opacity: .9;
    
}

.register-button:active
{
    background-color: #106CC8 !important;
    opacity: 1;
}

.main-header
{
    background-color: #106CC8;
}

.sidebar-nav
{
    float: left;
    margin-top: 70px;
    position: fixed;
}

.icon
{
    color: #fff;
    float: left;
    cursor: pointer;
    margin-top: 13px;
    margin-left: 8px;
}

.logo-line
{
    color: #fff !important;
}

.logo-line:hover
{
    color: #fff !important;
    cursor: pointer;
}

.page-content-wrapper
{
    margin-top: 51px;
    text-align: center;
}

.header-button
{
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    background-color: #1E90FF;
    color: #fff;
    opacity: .9;
    width: 120px;
    border: none;
    font-size: 16px;
    height: 35px;
    text-align: center;
}

.header-button:active
{
    opacity: 1;
}

.header-button a
{
    text-decoration: none !important;   
    color: #fff;
    display: block;
    margin-top: 6px;
}

.header-button a:hover
{
    text-decoration: none !important;
    color: #fff;
}

.header-button a:focus
{
    color: #fff;
    cursor: pointer;
}

.header-button a:active
{
    color: #fff;
}

.navbar-header
{
    width: 100%;
}

.form-tip
{
    text-align: center;
    color: #999999;
    font-size: 10px;
}

.marker-details-content
{
    width: 940px;
    margin: 0 auto;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  position: relative;
  width: 300px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.19), 0 3px 4px rgba(0,0,0,0.23);
}

.card.details
{
    width: 500px;
}

.card.location
{
    width: 400px;
    height: 100px;
    bottom: 200px;
    position: relative;
}

.card.info
{
    width: 400px;
    height: 180px;
    position: relative;
    left: 260px;
    bottom: 205px;
}

.detail-cards-header
{
    float: left;
    color: #999999;
    margin: 10px 0px 0px 10px;
}

.photo-container
{
    width: 920px;
    height: 250px;
    background-image: url(../card.jpg);
    margin: 0 auto;
}

.photo-header
{
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 160px;
    font-size: 70px;
    color: #fff;
    
}

/* PROFILE STYLES */

#profile-container {
    /*
    margin: 0% 3% 0% 3%;
    */
    overflow: auto;
}
.profile-header {
    background-image: url(/static/bg.jpg);
    background-repeat: no-repeat;
    height: 250px;
    text-align: left;
/*    margin-bottom: 3%;
*/
}

#centralizer {
    display:table;
}

#table-cell {
    display: table-cell;
    vertical-align: middle;
}


h1, h2, h4 {
    text-align: left;
    margin: 0px;
}

.item-name {
    display: inline;
    text-align: left;
}


/*
h1 {
    padding-top: 40px;
}



#userHeaders {
    display: inline;
}

#userAvatar, #editUserButton {
    display: inline-block;
}
*/
#userAvatar {
    display: inline;
}

#Headers {
    display: inline-block;
    /* padding-top: 5%; */
}

.my-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 1%;
    margin-bottom: 1.5%;
}
.my-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#avatarPreview {
    margin: 0 auto;
}
/*
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


.btn-circle {
    width: 34px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 50%;
}
*/


/* .btn-circle > .class-name
 * in order to avoid important
 * */


.btn-circle {
    border-radius: 50%  !important;
}
/*
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox !important;
    display: flex;
}
*/
